body{
	font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
nav.site-header a {
	font-weight: bold;
}

.h1, h1 {
    font-size: 3.2rem;
}

h2,
.coral {
	color: #f55e61;
}

h3{
	font-size: 1.2em;
}

a:hover{
	color: white;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,fill .15s ease-in-out,stroke .15s ease-in-out,
}

.carousel{
	background-image: url('../img/bg-home1.jpg');
}

#boxes{
	padding: 1rem;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}

#boxes div{
	display: inline-block;
	width: 49%;
	float: left;
}

#boxes #fundacion {
	margin-right: 2%;
}

nav.site-header{
	background: #f55e61;
	padding: 0!important;
}


nav.site-header a{
	color: #222;
	text-transform: uppercase;
	padding: 2em 1em 1em 1em!important;
	border-bottom: 3px solid #f55e61;
	height: 100%;
}

@media only screen and (max-width: 600px) {
	#navbarToggler{
		width: 100%;
	}

	nav.site-header a{
		width: 100%;
		padding: 0.6em 3em!important;
		border-bottom: 0 none!important;
	}

	nav.site-header a.logo{
		padding: 0.7em 0.7em 0.7em 3em!important;
	}

	#boxes div{
		width: 100%;
		margin: 10px 0!important;
	}
}

nav.site-header a:hover{
    color: white;
    background: #222;
    text-decoration: none;
	border-bottom: 3px solid #222;
}

nav.site-header a.active{
	border-bottom: 3px solid #222;
}

nav.site-header a.active:hover{
	color:  #222;
	background: none;
}

.logo{
	display: flex;
    text-transform: uppercase;
}

nav.site-header .logo{
	padding: 0.7em!important;
	display: flex;
    align-items: center;
}

nav.site-header .logo span{
	padding-left: 0.4em;
	font-weight: 400;
}

nav.site-header .logo:hover svg,
nav.site-header .logo:hover svg .cls-1{
	fill: white;
	stroke: white;
}

header.section-title,
.carousel{
    box-shadow: rgb(0 0 0 / 70%) 0px 120px 120px inset;
    text-shadow: rgb(0 0 0 / 70%) 0 3px 5px;
    background-size: cover;
    background-position: 50%;
}

#quienes-somos header.section-title{
	background-image: url('../img/bg-quienessomos.jpg');
}

#proceso-ux header.section-title{
	background-image: url('../img/bg-procesoux.jpg');
}

#contacto header.section-title{
	background-image: url('../img/bg-contacto.jpg');
}



.btn {
	background: #222;
	color: white;
	border: 0 none;
	font-weight: bold;
}

.btn:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

footer {
	border-top: 3px solid #ccc;
	text-align: center;
}

footer .logo{
    flex-direction: column;
    align-items: center;
}

footer .logo svg{
	margin: 0 0 5px -10px;
}

footer a:hover{
	font-weight: 700;
}

.homepage footer{
	border: 0 none;
}

#nosotras .row{
	text-align: center;
}

#nosotras .row img{
	width: 100%;
	border-radius: 150px;
	margin-bottom: 16px;
}

#nosotras .row p{
	font-size: 0.8em;
}

